<h1>購物車</h1>
<%= link_to "清空", cart_path, method: "delete", class: "btn btn-xs btn-danger" %>

<%= render "cart", cart: current_cart %>

<%= link_to '繼續選購', products_path, class: "btn btn-default" %>

<%= link_to '結帳', checkout_cart_path, class: "btn btn-danger" if not current_cart.empty? %>

